.simple-layout {
  /* Auto Layout */
  /* display: flex;
  flex-direction: row; */
  /* align-items: flex-start; */
  /* padding: 0px 24px 24px; */
}

.header {
  padding: 0px;
  height: auto;
  background-color: #fff;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px 16px 0px;
}
